.footer_height {
  height: 75px;
}

.lgine {
  width: 100%;
  height: 1px;
  background-color: rgba(140, 141, 150, 0.26);
}


.content_footer{
  display: flex;
}

.content_footer a{
  width: 8%;
}


/* START RESPONSIV FOOTER*/

@media screen and (max-width: 576px) {
}

/* END RESPONSIV FOOTER*/
