.tabl_st {
  margin-top: 0 !important;
}

.text_pg p{
  width: 161px !important;
  margin-top: 21px !important;
  font-weight: 500 !important;
  font-size: 21px !important;
  margin-bottom: 0 !important;
  padding-bottom: 17px !important;
  position: relative !important;
}

.text_pg p:after{
  content: '' !important;
    position: absolute !important;
    width: 78px !important;
    height: 3px !important;
    background-color: #329DFF !important;
    top: 35px !important;
    left: 0px !important;
}
