.height_article_2 {
  height: 574px;
}

.cards_info {
  text-align: center;
}

.cards_ {
  display: flex;
  width: 99%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  margin-top: 52px;
}

.article_title {
  color: #00214a;
  font-size: 31px;
  text-transform: capitalize;
  font-weight: 600;
}
