._img_cover {
  width: 100%;
  height: 560px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.74), rgba(0, 0, 0, 0.74)),
    url("../../../../public/img/SearchDoctors.png");
  background-size: cover;
  position: relative;
}

.search_bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 50%; */
  padding: 14px 9px 14px 9px;
  background-color: white;
  border-radius: 10px;
}

.search_bar form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search_input input {
  border: none;
}

.search_input input::placeholder {
  font-size: 14px;
  color: #c4c4c4;
}

.search_input input:focus {
  outline: none;
  border: none;
  caret-color: #8c8d96;
}
.search_input label {
  font-size: 18px;
  color: #00214a;
  font-weight: 600;
  margin-left: 20px;
  cursor: pointer;
}

.search_input input[type="text"]:focus {
  outline: none;
  box-shadow: none;
}

.search_bar i {
  margin-left: 10px;
  color: #8c8d96;
}

.search_input:not(:last-of-type) {
  border-right: 1px solid #c4c4c4;
  margin-left: 10px;
}

.btn_search {
  border: none;
  padding: 4px 9px;
  border-radius: 5px;
  margin-right: 13px;
}

.border_card {
  border: 2px solid rgba(140, 141, 150, 0.21);
  border-radius: 10px;
}
