/* START ARTICLE 1 */

.height_article_1 {
  height: 638px;
}

.text_center {
  text-align: center;
}

.article_img img {
  width: 312px;
  height: 291px;
  margin-left: 20px;
  margin-right: 20px;
}

.article_info {
  margin-top: 59px;
}

.article_info h1 {
  color: #00214a;
  font-size: 32px;
  text-transform: capitalize;
  font-weight: 600;
}

.article_info p {
  width: 32%;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  font-weight: 300;
  color: #8c8d96;
}

/* END ARTICLE 1  */

