/* GOOGLE FONT IMPORT */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color: #33;
}

body {
  /* background-color: #f2f3f7; */
  /* background-color: white; */
  font-family: "Poppins", sans-serif !important;
}

a:hover {
  text-decoration: none !important;
}

a {
  text-decoration: none !important;
}

ul {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none !important;
}

.row {
  margin: 0 !important;
}

.row > * {
  margin: 0 !important;
  padding: 0 !important;
}

/* START NAVBAR */

.nav_bar {
  background-color: white !important;
  height: 704px !important;
  margin-top: 9px !important;
  margin-bottom: 8px !important;
  /* border-top-right-radius: 12px;
  border-bottom-right-radius: 12px; */
  width: 88% !important;
  margin-left: 10px !important;
  border-radius: 12px !important;
}

.nav_logo {
  display: flex !important;
  justify-content: center !important;
  margin-bottom: 5rem !important;
}

._img_dashboard {
  width: 47% !important;
  margin-top: 21px !important;
  margin-right: 6px !important;
}

.nav_items_dashboard {
  list-style: none !important;
  margin: 0 !important;
  padding: 0 !important;
  padding-left: 13px !important;
}

.nav_item_dashboard {
  padding: 5px 2px 5px 14px !important;
  font-size: 14px !important;
  text-transform: capitalize !important;
  font-weight: 500 !important;
  color: #7f7f7f !important;
  margin-left: 4px !important;
  display: inline-block !important;
  width: 189px !important;
}

.nav_li {
  margin-bottom: 30px !important;
}

.nav_icon {
  font-size: 19px !important;
}

.nav_text {
  margin-left: 15px !important;
}

.nav_hover:hover {
  color: #ffffff !important;
  /* border-right: 3px solid #329dff; */
  background-color: #329dff !important;
  border-radius: 6px !important;
  /* border: var(--bs-border-width) var !important(--bs-border-style) var(--bs-border-color)!important; */
}

.active {
  color: #ffffff !important;
  /* border-right: 3px solid #329dff; */
  background-color: #329dff !important;
  border-radius: 6px !important;
}

.color_denger {
  color: #ed686c !important;
}

.item_bottom {
  margin-top: 130% !important;
}

/*  END NAVBAR CSS  */

/* START HEADER CSS */

.w_100 {
  width: 100% !important;
}

.header_top {
  display: flex !important;
  /* align-content: center; */
  /* justify-content: space-between; */
  align-items: center;
  padding: 6px 11px 11px 11px !important;
  height: 64px !important;
  background-color: white;
  /* border-radius: 12px; */
  margin-top: -3px !important;
  /* margin-bottom: 73px;*/
  position: relative !important;
}

.logo {
  width: 69% !important;
}

.header_logo {
  width: 10% !important;
}

.header_item {
  font-weight: 500 !important;
  font-size: 14px !important;
  margin-left: 38rem !important;
}

.header_item a {
  color: #161818 !important;
}

.notif_btn {
  margin-left: 166px !important;
  font-size: 20px !important;
  position: relative !important;
  cursor: pointer !important;
}

.notif_btn::before {
  content: "";
  position: absolute !important;
  background-color: red !important;
  width: 10px !important;
  height: 10px !important;
  top: 2px !important;
  border-radius: 100% !important;
  left: 11px !important;
}

.notif_btn:hover {
  color: #329dff !important;
}

.notif_messg {
  background-color: red !important;
  width: 349px !important;
  height: 230px !important;
  position: absolute !important;
  left: 66% !important;
  border-radius: 10px !important;
  background-color: #ffffff !important;
  /* top: -443%; */
  /* transition-duration: 0.2s; */
  /* display: none !important; */
  animation: showPopup 0.3s ease;
  top: 74% !important;
  padding: 0px 10px 0 21px !important;
}


@keyframes showPopup {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}




.notif_messg::before {
  content: "";
}

/* .active_notif{
  top: 79%;
} */

.link_text:hover {
  color: #329dff !important;
}

.mssg_text {
  height: 44px !important;
}

.mssg_text h1 {
  margin: 0 !important;
  font-size: 15px !important;
  margin-top: 12px !important;
}

.mssg_text span {
  margin-left: 16px !important;
  font-size: 11px !important;
  /* margin-top: -20px; */
  top: -9px;
  position: relative !important;
}

/* END HEADER TOP  */

.messg_welcom {
  width: 87% !important;
  background-color: #329dffed;
  height: 9rem !important;
  margin-top: 20px !important;
  border-radius: 12px !important;
  padding: 13px !important;
}

.text_mesg {
  margin-right: 25% !important;
  width: 29rem !important;
  height: 9rem !important;
}

.text_mesg h2 {
  font-size: 21px !important ;
  margin-top: 14px !important;
  margin-left: 30px !important;
  color: white !important;
  font-weight: 500 !important;
}

.text_mesg p {
  font-size: 16px !important;
  color: #ffffffeb;
  margin-left: 61px !important;
  margin-top: -5px !important;
}

.img_pg img {
  margin-top: -23px !important;
}
.ds_flex {
  display: flex !important;
}

/* START CSS TABLE DIV */

.tabl_apoin {
  margin-top: 20px !important;
}
.table > :not(caption and .td_btn) > * > * {
  /* padding: 0; */
  font-size: 13px !important;
}

.tabl_st {
  margin-top: 50px !important;
  width: 87% !important;
  padding: 17px !important;
  border-radius: 12px !important;
}

table td {
  color: #595858e3 !important;
  font-weight: 500 !important;
  font-size: 12px !important;
}

table th {
  font-weight: 600 !important;
}

.tabl_st h2 {
  margin-left: 15px !important;
  margin-bottom: 16px !important;
  font-size: 14px !important;
  text-transform: capitalize !important;
  font-weight: 600 !important;
}

.btn_tabl {
  border: none;
  padding: 3px 10px 2px 10px !important;
  border-radius: 12px !important;
  color: white !important;
}

.btn_bg_succes {
  background-color: #329dff !important;
}

.btn_bg_succes:hover {
  background-color: #1d89ed !important;
}

.btn_bg_danger {
  background-color: #ed686c !important;
}

.btn_bg_danger:hover {
  background-color: #dd6064 !important;
}

.td_btn {
  padding: 5px 16px !important;
}

.ml_ {
  margin-right: 16px !important;
}
